@tailwind base;
@tailwind components; 
@tailwind utilities; 

@layer base {
  body { 
    @apply font-Poppins text-cgrey
  }

}

.testClass{ 
  color:green;
}

.imgFit{
  @apply object-cover h-full w-full
}

.cShadow{
  
}

.devicon-git-plain path {
  fill: #FFFFFF;
}

.devicon-javascript-plain {
  width: 3rem;
}

.listItem{
  @apply my-3
}

.getStartedLabel{
  @apply text-lg font-semibold
}

.inputBox{
  @apply bg-transparent placeholder-gray-700 w-96 outline-none
}

inputDiv{
  @apply my-6
}