@tailwind base;
@tailwind components; 
@tailwind utilities; 

@layer base {
  body { 
    @apply font-Poppins text-cgrey
  }

}

.testClass{ 
  color:green;
}

.imgFit{
  @apply object-cover h-full w-full
}

.cShadow{
  
}

.devicon-git-plain path {
  fill: #FFFFFF;
}

.devicon-javascript-plain {
  width: 3rem;
}

.listItem{
  @apply my-3
}

.getStartedLabel{
  @apply text-lg font-semibold
}

.inputBox{
  @apply bg-transparent placeholder-gray-700 w-96 outline-none
}

inputDiv{
  @apply my-6
}

.defaultButton{
  @apply flex items-center mx-6 hover:bg-blue-400 bg-gray-200 rounded-md h-10 px-3 font-semibold text-lg
}

.buttonNoMargin{
  @apply flex items-center hover:bg-blue-400 bg-gray-200 rounded-md h-10 px-3 font-semibold text-lg
}

.buttonBlue{
  @apply flex items-center mx-6 hover:bg-blue-400 bg-blue-200 rounded-md h-10 px-3 font-semibold text-lg

}